@model Midterm_EquipmentRental.Models.Customer
@using Midterm_EquipmentRental.Models

@{
    ViewData["Title"] = "Edit Customer";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>
</div>
